{% extends "base.html" %} {% block title %}Sign Up{% endblock %} 
{% block content %}
<style>
    .signup-form {
        border: 2px solid #ccc;
        padding: 30px;
        width: 500px;
        margin: 30px auto;
        border-radius: 8px; /* Optional: adds rounded corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
    }
    
    .form-group {
        margin-bottom: 20px;
    }
</style>

<div class="signup-form">
    <form method='POST'>
        <h3 align='center'>Sign Up</h3>
        <div class='form-group'>
            <label for='email'>Email Address</label>
            <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email"
            />
        </div>
        <div class='form-group'>
            <label for='firstname'>First name</label>
            <input
                type="text"
                class="form-control"
                id="firstname"
                name="firstname"
                placeholder="Enter firstname"
            />
        </div>
        <div class='form-group'>
            <label for='middlename'>Middle name</label>
            <input
                type="text"
                class="form-control"
                id="middlename"
                name="middlename"
                placeholder="Enter middlename"
            />
        </div>
        <div class='form-group'>
            <label for='lastname'>Last name</label>
            <input
                type="text"
                class="form-control"
                id="lastname"
                name="lastname"
                placeholder="Enter lastname"
            />
        </div>
        <div class='form-group'>
            <label for='Password1'>Password</label>
            <input
                type="password"
                class="form-control"
                id="password1"
                name="password1"
                placeholder="Enter password"
            />
        </div>
        <div class='form-group'>
            <label for='Password2'>Confirm Password</label>
            <input
                type="password"
                class="form-control"
                id="password2"
                name="password2"
                placeholder="Re-enter password"
            />
        </div>
        <div>
            <p>Already have an account? <a href="/login"><b>Login</b></a></p> 
        </div>
        <br />
        <div >
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

{% endblock %}